.card {
  margin: 0.5rem;
  flex: 1 1 auto;
  position: relative;
}
.image {
  object-fit: cover;
  transition: all 5s cubic-bezier(0.14, 0.96, 0.91, 0.6);
}
.info {
  position: absolute;
  top: 70%;
  left: 50%;
  font-weight: 700;
  background: transparent;
  width: 150px;
  color: white;
  text-align: center;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
}
.card:hover .image {
  transform: scale(1.2);
  font-size: 2rem;
  font-weight: 700;
}
.card:hover .info {
  opacity: 0.9;
  color: green;
  font-weight: bold;
  background-color: ghostwhite;
}
@media (max-width: 280px) {
  .info {
    top: 80px;
    border: 2px solid whitesmoke;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .info {
    top: 60%;
    border: 3px solid whitesmoke;
  }
}
