.container {
  padding: 0 2rem;
  margin-bottom: 2rem;
}
.title {
  font-size: 2rem;
  margin: 10rem 1rem 1rem 0;
  text-transform: uppercase;
  text-align: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr)) /* 1fr 1fr 1fr 1fr 1fr*/;
  grid-gap: 2.5rem 1rem;
  place-items: center;
}
